In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

## 특정 클래스를 입력하먼 그 클래스에 해당하는 이미지가 어느 압축파일의 어떤 폴더안에 있는지 정보추출

In [2]:
df = pd.read_csv('XML_filtered(1_13).csv')
df

,root_folder,sub_folder,xml_name,file_name,occluded,classes,box
0,Bbox_5_new,Bbox_0425,0724_09.xml,MP_SEL_083801.jpg,0,person,"['1103.81', '302.24', '1132.94', '413.79']"
1,Bbox_5_new,Bbox_0425,0724_09.xml,MP_SEL_083801.jpg,1,car,"['996.33', '331.70', '1064.00', '376.74']"
2,Bbox_5_new,Bbox_0425,0724_09.xml,MP_SEL_083801.jpg,1,car,"['1453.76', '303.06', '1920.00', '582.54']"
3,Bbox_5_new,Bbox_0425,0724_09.xml,MP_SEL_083801.jpg,1,car,"['1239.26', '308.36', '1489.12', '452.03']"
4,Bbox_5_new,Bbox_0425,0724_09.xml,MP_SEL_083801.jpg,0,car,"['926.36', '322.08', '1004.51', '381.65']"
...,...,...,...,...,...,...,...
1175128,Bbox_6_new,Bbox_0489,0731_16.xml,MP_KSC_015200.jpg,1,car,"['0.00', '314.23', '356.50', '735.70']"
1175129,Bbox_6_new,Bbox_0489,0731_16.xml,MP_KSC_015200.jpg,0,motorcycle,"['1379.80', '363.16', '1552.34', '592.44']"
1175130,Bbox_6_new,Bbox_0489,0731_16.xml,MP_KSC_015200.jpg,1,car,"['99.80', '344.00', '732.00', '586.90']"
1175131,Bbox_6_new,Bbox_0489,0731_16.xml,MP_KSC_015200.jpg,0,person,"['1130.01', '377.06', '1184.10', '520.30']"
1175132,Bbox_6_new,Bbox_0489,0731_16.xml,MP_KSC_015200.jpg,0,person,"['1172.43', '373.72', '1227.20', '521.20']"

In [3]:
total_annotations = len(df)
for k,v in df['classes'].value_counts().to_dict().items():
    print(f'{k} : {v}, {v/total_annotations*100:.2f}%')

car : 554925, 47.22%
person : 296748, 25.25%
traffic_light : 106971, 9.10%
truck : 94191, 8.02%
motorcycle : 42920, 3.65%
bicycle : 37138, 3.16%
bus : 32820, 2.79%
carrier : 6904, 0.59%
stroller : 1389, 0.12%
scooter : 641, 0.05%
wheelchair : 486, 0.04%

In [4]:
wheel_chair_df = df[df['classes']=='wheelchair']
wheel_chair_df

,root_folder,sub_folder,xml_name,file_name,occluded,classes,box
4291,Bbox_11_new,Bbox_0741,0827_08.xml,MP_SEL_B042858.jpg,0,wheelchair,"['985.80', '579.12', '1060.20', '719.10']"
20646,Bbox_13_new,Bbox_0837,0917_01.xml,MP_SEL_B073940.jpg,1,wheelchair,"['1323.28', '562.37', '1690.94', '907.43']"
22611,Bbox_13_new,Bbox_0833,0916_16.xml,MP_SEL_B072742.jpg,0,wheelchair,"['453.30', '497.46', '877.10', '1077.20']"
29734,Bbox_7_new,Bbox_0534,0801_45.xml,MP_SEL_093329.jpg,0,wheelchair,"['169.00', '554.50', '410.20', '900.00']"
33409,Bbox_12_new,Bbox_0784,0903_16.xml,MP_SEL_B055689.jpg,0,wheelchair,"['650.99', '439.42', '745.80', '590.40']"
...,...,...,...,...,...,...,...
1164826,Bbox_3_new,Bbox_0262,0712_02.xml,MP_SEL_047185.jpg,1,wheelchair,"['185.04', '572.41', '235.99', '637.59']"
1167519,Bbox_13_new,Bbox_0839,0917_03.xml,MP_SEL_B074371.jpg,1,wheelchair,"['448.90', '438.68', '530.92', '531.10']"
1169456,Bbox_2_new,Bbox_0197,0708_17.xml,MP_SEL_034201.jpg,0,wheelchair,"['1330.95', '496.72', '1559.67', '784.99']"
1175036,Bbox_6_new,Bbox_0489,0731_16.xml,MP_KSC_015187.jpg,1,wheelchair,"['771.76', '451.93', '931.42', '565.70']"
1175045,Bbox_6_new,Bbox_0489,0731_16.xml,MP_KSC_015188.jpg,1,wheelchair,"['431.00', '448.95', '694.34', '675.23']"

In [5]:
#특정 zip 에 존재하는 wheelchair box 개수 파악
target = ['Bbox_6_new', 'Bbox_7_new', 'Bbox_8_new', 'Bbox_9_new','Bbox_10_new']
wheel_chair_df[wheel_chair_df['root_folder'].isin(target)]

,root_folder,sub_folder,xml_name,file_name,occluded,classes,box
29734,Bbox_7_new,Bbox_0534,0801_45.xml,MP_SEL_093329.jpg,0,wheelchair,"['169.00', '554.50', '410.20', '900.00']"
53189,Bbox_8_new,Bbox_0608,0810_27.xml,MP_SEL_119955.jpg,1,wheelchair,"['1743.92', '401.43', '1812.48', '462.77']"
72991,Bbox_9_new,Bbox_0688,0820_22.xml,MP_SEL_B025840.jpg,0,wheelchair,"['898.63', '551.71', '1003.60', '707.90']"
76289,Bbox_10_new,Bbox_0720,0826_11.xml,MP_SEL_B035467.jpg,1,wheelchair,"['623.00', '545.24', '738.60', '766.10']"
81437,Bbox_7_new,Bbox_0589,0809_14.xml,MP_SEL_B003417.jpg,0,wheelchair,"['982.46', '437.76', '1036.40', '509.20']"
...,...,...,...,...,...,...,...
1152135,Bbox_8_new,Bbox_0631,0812_19.xml,MP_SEL_122005.jpg,1,wheelchair,"['930.20', '468.00', '1020.00', '593.00']"
1158311,Bbox_8_new,Bbox_0599,0810_07.xml,MP_SEL_116887.jpg,0,wheelchair,"['354.08', '464.53', '438.50', '535.50']"
1159371,Bbox_8_new,Bbox_0599,0810_07.xml,MP_SEL_117065.jpg,0,wheelchair,"['670.65', '451.99', '918.87', '884.00']"
1175036,Bbox_6_new,Bbox_0489,0731_16.xml,MP_KSC_015187.jpg,1,wheelchair,"['771.76', '451.93', '931.42', '565.70']"
1175045,Bbox_6_new,Bbox_0489,0731_16.xml,MP_KSC_015188.jpg,1,wheelchair,"['431.00', '448.95', '694.34', '675.23']"

In [6]:
# carrier 갯수를 파악해야한다.
carrier_df = df[df['classes']=='carrier']
# 혹시나 빠지는 zip file 이 있는지 확인
print(sorted(set(carrier_df['root_folder'].to_list())))

['Bbox_10_new', 'Bbox_11_new', 'Bbox_12_new', 'Bbox_13_new', 'Bbox_1_new', 'Bbox_2_new', 'Bbox_3_new', 'Bbox_4_new', 'Bbox_5_new', 'Bbox_6_new', 'Bbox_7_new', 'Bbox_8_new', 'Bbox_9_new']

In [7]:
carrier_df.groupby('root_folder').count()

             sub_folder  xml_name  file_name  occluded  classes  box
root_folder
Bbox_10_new         407       407        407       407      407  407
Bbox_11_new         557       557        557       557      557  557
Bbox_12_new         479       479        479       479      479  479
Bbox_13_new         398       398        398       398      398  398
Bbox_1_new          659       659        659       659      659  659
Bbox_2_new          628       628        628       628      628  628
Bbox_3_new          583       583        583       583      583  583
Bbox_4_new          531       531        531       531      531  531
Bbox_5_new          457       457        457       457      457  457
Bbox_6_new          544       544        544       544      544  544
Bbox_7_new          646       646        646       646      646  646
Bbox_8_new          534       534        534       534      534  534
Bbox_9_new          481       481        481       481      481  481

In [8]:
print(df['classes'].drop_duplicates().to_list())

['person', 'car', 'truck', 'motorcycle', 'bicycle', 'carrier', 'bus', 'traffic_light', 'scooter', 'stroller', 'wheelchair']

In [27]:
df[df['sub_folder']==f_name]['classes'].value_counts().to_dict()

{'car': 1060,
 'person': 565,
 'truck': 208,
 'traffic_light': 113,
 'bicycle': 86,
 'motorcycle': 75,
 'bus': 33,
 'carrier': 7,
 'scooter': 2}

In [32]:
%%timeit

df[df['file_name'] == 'MP_SEL_093329.jpg'].values

65.3 ms ± 2.71 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [33]:
%%timeit
df[df['file_name'] == 'MP_SEL_093329.jpg'].to_dict('records')

65.9 ms ± 3.55 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [21]:
for_dataframe = []
dataframe_class = ['root_folder', 'sub_folder', 'file_name', 'person', 'car', 'truck','motorcycle', 'bicycle', 'carrier', 'bus', 'traffic_light', 'scooter', 'stroller', 'wheelchair']
# https://blog.naver.com/PostView.nhn?blogId=esak97&logNo=221715216490
for i in tqdm(df.itertuples()):
    class_counts=dict(person=0, car=0, truck=0, motorcycle=0, bicycle=0, carrier=0, bus=0, traffic_light=0, scooter=0, stroller=0, wheelchair=0)
    temp = [getattr(i,'root_folder'), getattr(i,'sub_folder'), getattr(i,'file_name')]
    class_counts[getattr(i,'classes')]+=1
    temp.extend(list(class_counts.values()))
    for_dataframe.append(temp)

a = pd.DataFrame(for_dataframe, columns=dataframe_class)
a

1175133it [00:05, 196980.75it/s]

,root_folder,sub_folder,file_name,person,car,truck,motorcycle,bicycle,carrier,bus,traffic_light,scooter,stroller,wheelchair
0,Bbox_5_new,Bbox_0425,MP_SEL_083801.jpg,1,0,0,0,0,0,0,0,0,0,0
1,Bbox_5_new,Bbox_0425,MP_SEL_083801.jpg,0,1,0,0,0,0,0,0,0,0,0
2,Bbox_5_new,Bbox_0425,MP_SEL_083801.jpg,0,1,0,0,0,0,0,0,0,0,0
3,Bbox_5_new,Bbox_0425,MP_SEL_083801.jpg,0,1,0,0,0,0,0,0,0,0,0
4,Bbox_5_new,Bbox_0425,MP_SEL_083801.jpg,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175128,Bbox_6_new,Bbox_0489,MP_KSC_015200.jpg,0,1,0,0,0,0,0,0,0,0,0
1175129,Bbox_6_new,Bbox_0489,MP_KSC_015200.jpg,0,0,0,1,0,0,0,0,0,0,0
1175130,Bbox_6_new,Bbox_0489,MP_KSC_015200.jpg,0,1,0,0,0,0,0,0,0,0,0
1175131,Bbox_6_new,Bbox_0489,MP_KSC_015200.jpg,1,0,0,0,0,0,0,0,0,0,0
1175132,Bbox_6_new,Bbox_0489,MP_KSC_015200.jpg,1,0,0,0,0,0,0,0,0,0,0

In [29]:
a.groupby('sub_folder').sum()

,person,car,truck,motorcycle,bicycle,carrier,bus,traffic_light,scooter,stroller,wheelchair
sub_folder,,,,,,,,,,,
Bbox_0001,72,538,89,17,9,2,10,26,0,2,2
Bbox_0002,114,521,94,18,21,1,21,32,0,4,1
Bbox_0003,97,488,64,25,24,9,24,61,0,0,0
Bbox_0004,266,442,73,22,24,9,10,23,0,1,3
Bbox_0005,61,244,38,11,6,6,6,6,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
Bbox_0856,321,847,155,35,19,4,52,166,0,0,1
Bbox_0857,343,891,136,46,61,3,47,175,0,1,2
Bbox_0858,221,797,164,39,30,3,58,166,0,2,0
Bbox_0859,378,853,138,46,33,9,59,129,0,1,0
Bbox_0860,313,711,113,48,32,7,42,99,0,2,0

In [33]:
df[['root_folder','sub_folder']].drop_duplicates()

         root_folder sub_folder
0         Bbox_5_new  Bbox_0425
2149     Bbox_12_new  Bbox_0808
3452     Bbox_11_new  Bbox_0741
5313      Bbox_1_new  Bbox_0006
5850      Bbox_8_new  Bbox_0597
...              ...        ...
1167379  Bbox_13_new  Bbox_0839
1169251   Bbox_2_new  Bbox_0197
1169743   Bbox_1_new  Bbox_0150
1171655   Bbox_9_new  Bbox_0675
1173055   Bbox_6_new  Bbox_0489

[860 rows x 2 columns]

In [36]:
final_result = pd.merge(left=df[['root_folder','sub_folder']].drop_duplicates(), right=a.groupby('sub_folder').sum(), how='inner', on='sub_folder')

In [39]:
final_result.sort_values(by=['scooter'], ascending=False).to_csv('xml_1_to_13_sum.csv', sep=',', index=False)

In [43]:
%%timeit

pd.get_dummies(df, columns=['classes'])

344 ms ± 12.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [45]:
test = pd.read_csv('/Users/sm/Documents/workspace/final-project-level3-cv-15/utils/xml_1_to_13_sum.csv')
test[:20]

,root_folder,sub_folder,person,car,truck,motorcycle,bicycle,carrier,bus,traffic_light,scooter,stroller,wheelchair
0,Bbox_2_new,Bbox_0250,764,468,64,74,55,2,36,59,13,4,0
1,Bbox_4_new,Bbox_0404,1540,1294,243,103,64,1,152,223,13,3,0
2,Bbox_11_new,Bbox_0745,277,745,83,99,86,20,19,96,9,3,1
3,Bbox_2_new,Bbox_0163,501,738,156,112,116,8,31,155,9,1,0
4,Bbox_6_new,Bbox_0522,752,843,202,169,188,18,60,251,7,7,4
5,Bbox_1_new,Bbox_0047,229,232,39,14,20,1,6,16,7,4,1
6,Bbox_6_new,Bbox_0490,710,988,83,32,108,11,51,180,7,9,0
7,Bbox_4_new,Bbox_0342,740,688,135,80,58,26,20,90,6,0,0
8,Bbox_6_new,Bbox_0472,205,378,77,24,16,5,77,280,6,0,0
9,Bbox_4_new,Bbox_0387,1316,733,113,62,91,14,53,234,6,2,0
10,Bbox_5_new,Bbox_0447,215,158,40,7,1,6,7,150,6,3,0
11,Bbox_2_new,Bbox_0182,553,611,79,77,76,9,67,118,6,1,1
12,Bbox_3_new,Bbox_0290,755,1461,165,94,99,4,8,7,6,4,0
13,Bbox_2_new,Bbox_0168,432,690,77,54,64,11,23,61,6,3,0
14,Bbox_11_new,Bbox_0741,675,737,85,109,57,13,34,143,6,1,1
15,Bbox_2_new,Bbox_0187,617,371,58,24,48,7,30,127,6,1,1
16,Bbox_2_new,Bbox_0238,307,669,88,51,23,9,12,23,5,10,1
17,Bbox_2_new,Bbox_0157,345,690,125,25,50,7,38,101,5,2,0
18,Bbox_2_new,Bbox_0181,555,710,122,60,43,14,58,92,5,0,1
19,Bbox_2_new,Bbox_0189,309,1039,158,139,112,20,34,95,5,3,1